*{
    margin: 0;
}

.ul>li{
    list-style: none;
}

.ul>li>a{
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width:1080px){

    /* .navContainer{
        
        z-index: 5;
    } */

    .ul{
        position: absolute;
        top: -100% ;
        transition: top 1s;
        width: 30%;
        height: 50%;
        z-index: 1;
        background-color: rgb(248, 183, 183);
        left: 10px;
        margin-top: 30px;
       
    }
    .ul>li{
        padding: 10px 0;
    }

    .btn-toggle{
        position: absolute;
        visibility: visible;
        left: 15px;
        top: 18px;
    }

    .fs-1{
        font-size: 25px;
        color: rgb(0, 0, 0);
    }
    .nav{
       
        height: 40px;
        width: 1080px;
        background: white;
    }

    .ul>li>a{
        color: rgb(0, 0, 0);
        font-size: 20px;
       
    }

    .ul>li>a:hover{
        color: rgb(0, 0, 0);
    }

    .rs{
        visibility: hidden;
    }
    .logo-1{
        visibility: hidden;
    }

    .logo-2{
        visibility: hidden;
        margin-bottom: 10px;
        transform: translateY(-7px);
    }
}
   
@media screen and (min-width:1080px){

    .navContainer{
        width: 1080;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.397);
    }
    .nav{
        height: 30px;
    }


    .btn-toggle{
        position: absolute;
        display: none;
        visibility: visible;
        left: 100px;
    }

    .ul{
        display: flex;
        justify-content: end;
         align-items: flex-end;
         margin-top: 5px;
    }

    .ul>li>a{
        color:black;
        font-size: 16px;
    }

    .ul>li>a:hover{
        color: red;
    }

    .ul>li{
        padding: 0 15px;
    }

    .nav{
        padding: 15px 0px;
        box-shadow:  0 4px 8px rgba(0 0 0 /8%);
        width: 1080px;
    }

    .logo-1{
        position: absolute;
        visibility: visible;
        left:60px;
        border: none;
        top: 10px;
    }
    
    .logo-2{
       visibility: hidden;
    }
}

@media screen and (max-width:768px){
    .logo-1{
        position: absolute;
        visibility: hidden;
        left:300px;
        border: none;
        top: 10px;
    }

    .logo-2{
        visibility: visible;
        left:10px;
        top: 20px;
    }

}

@media screen and (max-width:576px){
    .ul{
        width: 40%;
    }

}


@media screen and (max-width:375px){
    .ul{
        width: 50%;
    }

}


