
 .contenedor{
  position: absolute;
  width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
  max-height: 1920;
  margin-top: 60px;
  transform: translate(0px);
}



.imagen{
   
    width: 400px;
    height: 300px;
    background-color: aqua;margin: 5px;
    margin-left: 20px;
}

.informacion-titulo{
  position: absolute;
  color: rgb(82, 36, 124);
  font-size: 32px;
  font-weight: initial;
  top: 10px;
  left: 270px;
}

.contenido{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  padding: auto 0; 
}

.informacion-nutrimental{
  position: absolute;
  margin: auto 0;
  padding: 0;
  top: 65px;
  left: 270px;
}

.parrafo-ingredientes{
  margin-right: 10px;
  width: 250px;
  font-size: 14px;
}



.informacion-cantidad,.informacion-cantidad-i {
  color:black;
  font-size: 16px;
  font-weight: initial;
  font-weight: bolder;
  transform:  translate(-54px);
  width: 400px;
}

.informacion-cantidad-i{
  font-size: 16px;
}

.subtitulo-vitealinea{
  margin-left: 20px;
}




.contenedor__lista{
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  padding: 0;
  right: 100px;
  z-index: 2;
  
}

.informacion{
  position: absolute;
  right: 70px;
  top: 50px;
  width: 300px;
  background-color: rgb(252, 247, 247);
  padding: 8px;
  
}

.lista{
  text-align: right;
  padding: 2px;
}

.contenedor-lista-derecha{
  position: absolute;
  top: 50px;
  right: -0px;
  background-color: rgb(252, 247, 247);
  padding: 8px; 
}

.lista, .lista-derecha{
  list-style: none;
  font-size: 14px;
  padding: 5px;
  list-style-position: outside;
  transform: translateX(-40px);
  color: rgb(99, 57, 153);
}




.contenedor-familia{
  position: relative;
  margin: 0;
  top: 350px;
  left: -250px;
  
}

.titulo-familia{ 
  position: absolute;
  color: rgb(130, 60, 196);
  font-size: 32px;
  font-weight: initial;
  text-align: center;
  left: 420px;
  top: 150px;
  z-index: 2;
  width: 700px;
}


.imagen-familia-vitalinea{
  position: absolute;
  width: 1080px;
  background-size: contain;
  top: -320px;
  left: 250px;
  
}

.vitalineo-griego,
.vitalineo-azucar,
.vitalineo-azucar-uno{
  position: absolute;
  color: rgb(130, 60, 196);
  font-size: 20px;
  top: 540px;
  left: 40px;
}


.vitalineo-griego{
  position: absolute;
  left: 410px;

}
.vitalineo-azucar{
  position: absolute;
  left: 720px;
}
.vitalineo-azucar-uno{
  position: absolute;
  left: 1020px;
  width: 300px;
}


 .contenedor-logos{ 
  position: relative;
  top: 960px;

} 


.logo-circulo-azul{ position: absolute;
  width: 100px;
  /* left: -100px; */

}
.logo-negro{
  visibility: hidden;
  transform: translateX(170px);

}

.footer{ 
  position: relative;
  height: 50px;
  top: 900px;
}

.parrafo-footer{
  position: absolute;
  margin: 20px;
  font-size: 16px;
  text-align: start;
  margin-bottom: 50px;
  left: 80px;
}

.imagen-familia-vitalinea-m{
  display: none;
}


 

 @media screen and (max-width: 768px) {

  
 .contenedor{
  width: 768px;
  transform: translate(-155px);
}

.informacion-titulo{
  position: absolute;
  font-size: 24px;
  transform: translate(65px);
  top: 20px;
}

.informacion-nutrimental{
  left: 330px;
  z-index: 2;
}
.contenedor__lista{
  right: -190px;
}

.titulo-familia{ 
  width: 500px;
  left: 620px;
  top: 60px;
  font-size: 22px;
}


.imagen-familia-vitalinea{
  width: 810px;
  height: auto;
  left: 450px;
}

.vitalineo-griego{
  top: 330px;
  left: 570px;
  font-size: 14px;

}
.vitalineo-azucar{
  left: 815px;
  top: 330px;
  font-size: 14px;
  width: 300px;
}
.vitalineo-azucar-uno{
  left: 1030px;
  top: 330px;
  font-size: 14px;
}

 .logo-circulo-azul{ 
  left: 150px;
}

.informacion{
  width: 270px;
  padding: 3px;
}

.contenedor-lista-derecha{
  top: 55px;
  padding: 0;
  width: 50px;
  left: -65px;
}

.lista, .lista-derecha{
  padding: 1px;

}

.contenedor-logos{ 
  position: relative;
  top: 736px;
  left: 110px;
} 


.logo-circulo-azul{ position: absolute;
  width: 80px;
  /* left: -100px; */

}


.footer{ 
  top: 666px;
  left: 220px;
}

.parrafo-footer{
  position: absolute;
  margin: 20px;
  font-size: 14px;
  text-align: start;
  margin-bottom: 50px;
  left: 92px;
} 
 
}

@media screen and (max-width: 576px) {

  .contenedor{
    width: 576px;
  }


  .imagen-familia-vitalinea{
    display: none;
  }

  .imagen-familia-vitalinea-m{
    display: initial;
    position: relative;
    width: 580px;
    left: 400px;
    top: 380px;
  }

  .informacion-titulo{
    position: absolute;
    font-size: 24px;
    transform: translate(-10px);
    top: 20px;
  }
  
  .informacion-nutrimental{
    top: 80px;
    left: 260px;
    width: 590px;
  }


  .parrafo-ingredientes{
    width: 400px;
    font-size: 16px;
  }


  
  .subtitulo-vitealinea{
    margin-left: 20px;
  }
  .contenedor__lista{
    top: 200px;
    right: 0px;
  }
  
  
  .informacion{
    top: 100px;
    width: 270px;
    padding: 3px;
    left: -320px;
    width: 350px;
  }
  
  .contenedor-lista-derecha{
    top: 100px;
    padding: 0;
    width: 50px;
    left: 30px;
  }
  
  .lista, .lista-derecha{
    padding: 8px;
  
  }

  .titulo-familia{ 
    width: 500px;
    left: 460px;
    top: 460px;
    font-size: 22px;
  }

  .vitalineo-griego{
    top: 970px;
    left: 740px;
    font-size: 18px;
    width: 200px;
  
  }
  .vitalineo-azucar{
    top: 970px;
    left: 480px;
    font-size: 18px;
    width: 200px;
  }
  .vitalineo-azucar-uno{
    display: none;
  }
  

  .logo-circulo-azul{ 
    position: absolute;
    width: 100px;
    left: 110px;

  }

  .logo-negro{
    position: relative;
    visibility: visible;
    left: 265px;
    top: 10px;
  
  }
  
  
  .footer{ 
    top: 746px;
    left: 160px;
  }
  
  .parrafo-footer{
    position: absolute;
    margin: 20px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
    left: 0px;
    width: 500px;
  } 
 
}

@media screen and (max-width: 375px) {
  .contenedor{
    width: 375px;
  }

  .imagen-familia-vitalinea-m{
    width: 570px;
    left: 420px;
  }

  .informacion-titulo{
    width: 400px;
  }
  
  .informacion{
    left: -120px;
    width: 350px;
  }
  
  .contenedor-lista-derecha{
    width: 50px;
    left: 230px;
  }
  


  .logo-circulo-azul{ 
    position: absolute;
    width: 100px;
    left: 110px;

  }

  .logo-negro{
    position: relative;
    visibility: visible;
    left: 265px;
    top: 10px;
  
  }
  
  
  .footer{ 
    top: 746px;
    left: 160px;
  }
  
  .parrafo-footer{
    font-size: 16px;
  } 
  
  
 
} 