.contenedor-imagenes{
    position: relative;
    margin-top: 5px;
    width: 375px;
    justify-content: center;
}

.imagen_fresa{
    width: 1080px;
    background-size: contain;
}

.información-imagenes{
    
}

.contenedor_sabores{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 100px;
    left: 440px;
    gap: 20px;
    width: 400px;

}

.p-sabor{
    margin: 0;
    font-size: 18px;
}

 .boton__guayaba, .boton__toronja, .boton__fresa{
    padding: 2px 15px;
    height: 18px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border:  1px solid gray;
    cursor: pointer;
}

 .boton__guayaba:hover, .boton__toronja:hover, .boton__fresa:hover{
    transform: translate(3px);
    color: rgb(136, 44, 44);
}

.boton__fresa{
    background-color: rgb(236, 150, 165);
}

.descripcion{
   position: absolute;
   display: flex;
   margin-left: 20px;
   justify-content: start;
   top: -240px;
   left: 425px;
   width: 500px;
   font-size: 18px;
}

.titulo-vitalinea{
    position: absolute;
    top: 355px;
    text-align: center;
    color: #52247c;
    font-size: 34px;
    font-weight: initial;
}

.parrafo-descripcion{
    position: absolute;
    top: 430px;
    text-align: justify;
    font-size: 16px; 
    left: 4px;
    width: 410px; 
}

.botones-logo{
    position: absolute;
    display: flex;
    top: 520px;
    left: 444px;
}

.boton-walmart{
    position: absolute;
    top: -240px;
    width: 10rem;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 6px 40px;
    margin-left: 5px;
    text-align: center;
}

.boton-walmart:hover{
    transform: translate(2px);
    background-color: rgb(93, 15, 167);
    cursor: pointer;
}

.logo-azul{
    position: absolute;
    top: -190px;
    
}
.logo-cafe{
    position: absolute;
    top: -190px;
    left: 90px;
}

.logo-scroll{
    position: absolute;
    top: -55px;
    left: 95px;
}

.logo-cafe:hover, .logo-azul:hover, .logo-scroll:hover{
    transform: translate(3px);
    transition: 1s ease-in-out;
}

